<!DOCTYPE html>
<html>
    <head>
        <title>Bereken de bijtelling prive gebruik auto</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css"></link>
<meta charset="utf-8" />
        
    </head>
    <body>
        <div class="wrapper">
            <div class="kenteken">
                <div class="nl">NL</div>
                <div class="flag">
                    <span class="s1">★</span>
                    <span class="s2">★</span>
                    <span class="s3">★</span>
                    <span class="s4">★</span>
                    <span class="s5">★</span>
                    <span class="s6">★</span>
                    <span class="s7">★</span>
                    <span class="s8">★</span>
                    <span class="s9">★</span>
                    <span class="s10">★</span>
                    <span class="s11">★</span>
                    <span class="s12">★</span>
                </div>
                <div>
                    <form method="post">
                        <input type="text" class="plate" name="plate" value="{{number}}" />
                    </form>
                </div>
            </div>
            <div class="container explanation">
                Bla bla bla
            </div>
            <div class="container footer">
                Bla bla bla     
            </div>
        </div>
    </body>
</html>
